.header {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #FA991C;
}

.app_logo{
    background-image: url("src\assets\logo.png");
    align-self :flex-end;
    width: 55vh;
    margin-left: 2%;
}

.profile_icon {
    align-self: flex-end;
    width: 20%;
    align-content: center;
    
}

.profile_icon_2{
    font-size: 30px;
    
}

.profile_button{
    width: 100%; 
}

.app_name{
    align-content: center;
    font-size: 36px;
}

.logout_button{
    align-self: flex-end;
    width: 20vh;
    
}