<mat-card class="history-card">
    <mat-label class="history-text">Trip date : {{history!.date}}</mat-label>
    <mat-label class="history-text">Start location : {{history!.startLocation}}</mat-label>
    <mat-label class="history-text">Arrival location : {{history!.endLocation}}</mat-label>
    <mat-label class="history-text">Avg. temperature : {{history!.avgTemp}} °C </mat-label>
    <mat-label class="history-text">Avg. precipitations : {{history!.avgPrecipitation}} mm </mat-label>
    </mat-card>