<app-header></app-header>
<div class="home-container">
  <mat-card class="home-card">
    <mat-card class="maps-card">

      <mat-card class="route-data-card">
        <mat-label class="direction-item">From </mat-label>
        <app-autocomplete-card
            (placeChanged)="fromValue = $event"
            placeholder="Enter from address..."
          ></app-autocomplete-card>
        <mat-label class="direction-item"> To </mat-label>
        <app-autocomplete-card
        (placeChanged)="toValue = $event"
        placeholder="Enter to address..."
      ></app-autocomplete-card>
        <button mat-raised-button class="direction-item" style="height: 5vh !important;" (click)="getDataForCurentLocation()">Calculate</button>
       </mat-card>

       <app-maps [from]="fromValue" [to]="toValue"></app-maps> 

      </mat-card>

      <mat-card class="weather-card">
        
        <mat-card class="weather-list">
          <app-weather-card   *ngFor="let key of weatherList; let i = index" class="weather-list-card" [weather]="weatherList[i]"></app-weather-card>

          <mat-card *ngIf="isListLoading" class="loading-card" >
            <mat-card-content>
              <mat-spinner></mat-spinner>
            </mat-card-content>
          </mat-card>

        
      </mat-card>
      
      <mat-card class="alert-list" >

          <app-alert-card *ngFor="let key of alertList; let i = index" class="weather-list-card" [alert]="alertList[i]"></app-alert-card>
        
          <mat-card *ngIf="isListLoading" class="loading-card">
            <mat-card-content>
              <mat-spinner></mat-spinner>
            </mat-card-content>
          </mat-card>
        
        </mat-card>

      </mat-card> 
  </mat-card>
</div>