<app-header></app-header>
<mat-card class="profile_background">
    <mat-card class="profile">
        <mat-card class="profile_info">
            <mat-card class="profile_image">
                <img md-card-image [src]="(profileImage)" alt="Image">
            </mat-card>
            <mat-label class="username_label">{{username}}</mat-label>
        </mat-card>
        <mat-card class="history-list">
            <app-history-card *ngFor="let key of historyList; let i = index" class="history-list-card" [history]="historyList[i]"></app-history-card>
            <mat-card *ngIf="!historyList.length && !isListLoading" class="empty-list-card" style="align-self: center; margin-top : 50%;">There is no history to show.</mat-card>
            <mat-card *ngIf="isListLoading" class="loading-card" >
                <mat-card-content>
                  <mat-spinner></mat-spinner>
                </mat-card-content>
              </mat-card>
        </mat-card>
        
    </mat-card>
</mat-card>